[Unit]
Description=Daily ecoforo economic data collection
Requires=ecoforo-collect.service

[Timer]
OnCalendar=09:00:00
OnCalendar=21:00:00
AccuracySec=5min
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
